logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

fe/node_modules/
fe/dist/
fe/.next/
fe/.nuxt/
fe/.cache/
fe/build/
fe/.parcel-cache/
fe/tmp/
fe/.pnp
fe/.idea
fe/pnpm-lock.yaml

server/node_modules/
server/dist/
server/tmp/
server/.pnp
server/.idea
server/pnpm-lock.yaml

/out-tsc/

.idea/

/tmp/
/out/
